*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
  width: 100%;
  background-color: aquamarine;
}
 ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
 ul li{
  margin-right: 2rem;
  padding: 1rem;
  

}
 ul li a{
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 300;
}
a:hover{
  background:red;
  border: 1px solid blue;
}